<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1477126481-caree20qb0bnssmu95plapmm9s53aso8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1477126481-caree20qb0bnssmu95plapmm9s53aso8</string>
	<key>API_KEY</key>
	<string>AIzaSyDmRf1KzpNsJRVwba1h6rws4J_am7GRKIs</string>
	<key>GCM_SENDER_ID</key>
	<string>1477126481</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.davidrozmajzl.davidChat</string>
	<key>PROJECT_ID</key>
	<string>davidchat-c2ae9</string>
	<key>STORAGE_BUCKET</key>
	<string>davidchat-c2ae9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1477126481:ios:0721f92751dbed92e08b70</string>
	<key>DATABASE_URL</key>
	<string>https://davidchat-c2ae9.firebaseio.com</string>
</dict>
</plist>